<article id="main">
<header class="project">
  <h1 class="project-name">
    <a href="<%= @repo.github_url %>">
    <span class="repo-owner"><%= @repo.owner %> / </span><%= @repo.name %>
    </a>
  </h1>
  <span class="score-tag"><%= @report.processed_commits.count %> commits - <%= @report.score %> points</span>
</header><!--heading-->
<div class="row">
  <article class="ranking">
    <h1>Top 5 authors</h1>
    <ol class="contributors">
      <% contributors_by_score(@report)[0..4].each do |author| %>
      <li>
      <aside><a href="<%= github_repo_commits_by(@repo, author[:email]) %>"><img src="<%= gravatar_url author[:email], 60 %>" height="60" width="60" alt="avatar"></a></aside>
        <p class="name"><a href="<%= github_repo_commits_by(@repo, author[:email]) %>"><%= author[:name] %></a></p>
        <p class="score"><%= author[:score] %> <span class="points-tag">points</span></p>
      </li>
      <% end %>
    </ol><!--contributors-->
  </article>
  <article class="ranking">
    <h1>Top 5 offences</h1>
    <ol class="problems_solved">
      <% offences_by_frequency(@last_commit)[0..4].each do |offence| %>
      <li>
        <p class="name"><%= humanize_cop offence[:cop] %></p>
        <p class="score"><%= offence[:freq] %> <span class="occurrences-tag">occurrences</span></p>
      </li>
      <% end %>
    </ol><!--problems solved-->
    <!-- <button type="button" class="more">View all solved problems</button> -->
  </article>
  <article class="last-commit">
    <h1>Last processed commit</h1>
    <dl class="last-commit-stats">
      <dt>Made by</dt>
      <dd class="contributor">
        <aside><a href="<%= github_repo_commits_by(@repo, @last_commit.author_email) %>"><img src="<%= gravatar_url @last_commit.author_email, 60 %>" height="60" width="60" alt="avatar"></a></aside>
        <p class="name"><a href="<%= github_repo_commits_by(@repo, @last_commit.author_email) %>"><%= @last_commit.author %></a></p>
        <p class="score"><%= @report.author_scores[@last_commit.author_email] %> <span class="points-tag">points</span></p>
      </dd>
      <dt>Message</dt>
      <dd class="message"><%= @last_commit.subject %></dd>
      <dt>Points in this commit</dt>
      <dd class="score positive"><%= @last_commit.score %> <span class="points-tag">points</span></dd>
    </dl>
    <a href="<%= github_commit_url @last_commit %>" class="button">View commit details</a>
  </article>
</div><!--row-->
<div class="row">
  <article class="all-offences">
    <h1>All offences</h1>
    <% if @all_offences.empty? %>
      <p>Congrats! Everything is clean.</p>
    <% else %>
      <dl><% @all_offences.each do |file| %>
        <dt><%= file['path'] %></dt>
        <% offences_by_severity(file['offences']).each do |offence| %>
          <dd class="<%= offence['severity'] %>">
            <i class="<%= icon_for_severity offence['severity'] %>"></i>
            <a href="<%= github_file_url @last_commit, file['path'], offence['location']['line'] %>">
              <span class="location"><%= offence['location']['line'] %></span> <%= offence['message'] %>
            </a></dd>
        <% end %>
      <% end %></dl>
    <% end %>

  </article>
</div>
</article>
